.App {
	margin: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}
.ReactTable .-pagination .-btn {
    height: auto !important;
}
.Select-menu-outer {
  z-index: 999 !important;
}
.Select {
	padding: 5px;
}
.rt-td {
	overflow: visible !important;
}